* {
    margin: 0px;
    padding: 0px;
}
.cabecera {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido1{
    /* margin-left: 50px; */
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieDePg{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}