* {
    margin: 0px;
    padding: 0px;
}
.cabecera {
    width: 100vw;   
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    /* display: flex; */
    justify-content: left;
}
.h2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h3{
    display: flex;
    justify-items: left;
    align-items: center;
}
.contenido2{
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: -20px;
    justify-content: left;
}
.container {
    max-width: 800px;   
    margin: 20px auto;
    padding: 20px;
}

.pieDePg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 600px;
    height: 400px;
    margin: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    filter: brightness(100%);
    display: flex;
    justify-content: center;
    align-content: left;
}
.imagen2{
    /* width: 500px;
    height: 600px;
    margin: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    filter: brightness(100%); */
    /* display: flex;
    max-width: 50%; Establece el ancho máximo para que ambas imágenes quepan en la pantalla 
    height: auto; Ajusta automáticamente la altura para mantener la proporción 
    margin-right: 10px;
    /* justify-content: center;
    align-content: right; */
    background-color: #fff;
    border-radius: 15px;
    padding: 42px;
    width: 150px;
    height: 150px;
    overflow-y: auto;
    min-width: 300px;
    margin: 10px;
}