* {
    margin: 0px;
    padding: 0px;
}
.cabecera {
    width: 100vw;   
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    /* display: flex; */
    justify-content: left;
}
.h2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h3{
    display: flex;
    justify-items: left;
    align-items: center;
}
.contenido2{
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: -20px;
    justify-content: left;
}
.container {
    max-width: 800px;   
    margin: 20px auto;
    padding: 20px;
}

.pieDePg{
    display: flex;
    justify-content: center;
    align-items: center;
}